.hot-header {
    padding:0px;
    background:#00626f;
    * {
        color:#fff !important;
    }
    &__list {
        display:flex;
        list-style: none;
        padding:0;
        margin:0;
        li {
            padding:0;
            margin:0;
            a {
                padding:12px;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background:#0093a8;
                }
            }
        }
    }
}