.Button {
    background:$white;
    border: 1px solid $brand-teal;
    padding:$global-button-spacing-med;
    text-transform: uppercase;
    cursor:pointer;
    &.primary {
        background: $brand-green;
        border: 1px solid $brand-green;
        color:$white;
    }
    &.secondary {
        background:#ffffff;
        border: 1px solid $brand-teal;
        color:$brand-teal;
    }
    &.tertiary {
        background:$brand-teal;
        border: 1px solid $brand-teal;
        color:$white;
    }
    &.quaternary {
        background:$brand-charcoal;
        border: 1px solid $brand-charcoal;
        color:$white;
    }
    /*&.quinary {
        background:#ffffff;
        border: 1px solid $brand-teal;
        color:$brand-teal;
    }*/
    &.blocked {
        width:100%;
    }
    &.large {
        padding:$global-button-spacing-lar;
        font-size: $global-font-size-lar;
    }
    &.super {
        padding:$global-button-spacing-xl;
        font-size: $global-font-size-lar;
        font-weight: bold;
    }
    &.small {
        padding:$global-button-spacing-sm;
        font-size: $global-font-size-sm;
    }
    &.disabled {
        opacity:0.4;
        cursor:not-allowed;
    }
    &.loading {
        position: relative;
        .svg {            
            position: absolute;
            top: 50%; 
            right: 0.5rem;
            margin-top:-10px;
            @include loading-circle($white, 20px, 20px);            
        }
    }
}
