/* Temp file till we move components to storybook */
.hot-comp {
  padding: 12px 0 0px;
  margin: 24px 0;
  &__title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
    color: #ccc;
  }
  &__subhead {
    border-top: 1px solid #ccc;
    color: #ccc;
    margin: 1.5rem 0 1.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  &__icon {
    margin: 0 0 12px 12px;
  }
}
