.form {
  /* GENERAL */
  label {
    font-weight: bold;
  }
  h3 {
    margin-bottom: $global-spacing-lar;
  }

  /* TEXT INPUTS */
  &__textInput {
    position: relative;
    input {
      border: 1px solid $brand-teal;
      width: 100%;
      color: $brand-teal;
      padding: $global-spacing-med $global-spacing-med $global-spacing-med
        $global-spacing-xl;
    }
    margin-bottom: $global-spacing-lar;
    &.--disabled {
      input {
        background: $offwhite;
        border-color: $medium-gray;
        cursor: not-allowed;
      }
    }
    .--with-description {
      span {
        margin-left: 8px;
        display: inline-block;
        font-weight: normal;
      }
    }
  }

  /* CHECKBOXES */
  &__checkBox {
    $checkBox: &;
    position: relative;
    padding-left: 32px;
    margin-bottom: $global-spacing-lar;
    &-group {
      display: flex;
      flex-flow: row wrap;
      #{$checkBox} {
        margin-right: $global-spacing-lar;
      }
    }
    &-face {
      border: 1px solid $brand-teal;
      border-radius: 3px;
      width: 24px;
      height: 24px;
      background: $white;
      position: absolute;
      top: 0;
      left: 0;
      .svg {
        visibility: hidden;
        position: absolute;
        top: 3px;
        left: 2px;
        @include icon($brand-teal, 18px, 15px);
      }
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked ~ #{ $checkBox }-face {
        .svg {
          visibility: visible;
        }
      }
    }
  }
  /* SELECT BOXES */
  &__selectInput {
    select {
      border: 1px solid $brand-teal;
      width: 100%;
      color: $brand-teal;
      padding: $global-spacing-med;
    }
  }
}

/* RADIOS */
.radio {
  $radio: &;
  &__label {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: $global-spacing-lar;
    margin-right: $global-spacing-lar;
  }
  &__check {
    border: 1px solid $brand-teal;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    &:after {
      content: "";
      visibility: hidden;
      width: 12px;
      height: 12px;
      border-radius: 8px;
      background: $brand-teal;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  &__input {
    visibility: hidden;
    position: absolute;
    &:checked ~ #{ $radio }__check {
      &:after {
        visibility: visible;
      }
    }
  }
  &__group {
    display: flex;
    flex-flow: row wrap;
  }
}
.--isValid {
  position: relative;
  input {
    border-color: $success;
    background: url($tick-svg);
    background-position: 4px center;
    background-size: 11px;
    background-repeat: no-repeat;
  }
}
.--isError {
  position: relative;
  input {
    border-color: $alert;
    background: url($cross-svg);
    background-position: 4px center;
    background-size: 11px;
    background-repeat: no-repeat;
  }
  select {
    border-color: $alert;
  }
  .FormInputError {
    position: absolute;
    top: 4.1rem;
    left: 0;
    width: 100%;
    background: $rouge;
    $color: $burgendy;
    display: block;
    text-align: center;
    padding: $global-spacing-xs $global-spacing-sm;
    font-size: $global-font-size-sm;
    z-index: 10;
  }
  &.selectInput {
    .FormInputError {
      top: 4.4rem;
    }
  }
}
