svg {
    &.--check {
        @include icon($brand-teal, 28px, 28px);
    }
    &.--loading {
        @include loading-circle($brand-teal, 28px, 28px);         
    }
    &.--padlock {
        @include icon($brand-teal, 28px, 28px);        
    }
    &.--heart {
        @include icon($brand-teal, 28px, 28px); 
    }
    &.--search {
        @include icon($brand-teal, 28px, 28px); 
    }
    &.--logo {
        @include icon($brand-teal, 138px, 44px); 
        &.--small {
            @include icon($brand-teal, 69px, 22px);
        }
        &.--large {
            @include icon($brand-teal, 276px, 88px);
        }
    }
}