@mixin button-with-icon {
    position: absolute;
    top: 50%; right: 0.5rem;
    transform: translate(0,-50%);
}

@mixin loading-circle($color, $width, $height) {    
    width:$width;
    height:$height;
    animation: rotator $duration linear infinite;            
    circle {
        stroke:$color;
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation:
            dash $duration ease-in-out infinite;
    }    
}

@mixin icon($color, $width, $height) {    
    width:$width;
    height:$height;               
    path  {
        fill:$color;
    }   
}

