@font-face {
    font-family: "DinLight";
    src: url("/static/fonts/371471_0_0.eot");
    src: url("/static/fonts/371471_0_0.eot?#iefix") format("embedded-opentype"), 
    url("/static/fonts/371471_0_0.woff2") format("woff2"), 
    url("/static/fonts/371471_0_0.woff") format("woff"), 
    url("/static/fonts/371471_0_0.ttf") format("truetype");
}
  
@font-face {
    font-family: "DinMedium";
    src: url("/static/fonts/371471_1_0.eot");
    src: url("/static/fonts/371471_1_0.eot?#iefix") format("embedded-opentype"), 
    url("/static/fonts/371471_1_0.woff2") format("woff2"),
    url("/static/fonts/371471_1_0.woff") format("woff"),
    url("/static/fonts/371471_1_0.ttf") format("truetype");
}

h1, h2, h3 {
    text-transform: uppercase;
}

a {
    text-decoration: underline;
}