/* Foundation building block, to be replaced with imported framework css  */
@import 'settings';

@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
// Grids (choose one)
@include foundation-xy-grid-classes;
@include foundation-table;

/* Hotter custom */
@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'icons';



.lister {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    list-style:none;
    padding:0;
    margin:0;    
    grid-gap: 12px;    
    li {
        text-align: center;
    }
    img {
        text-align: center;
        width:350px;
        height:350px;
        background:#f8f8f8;
    }
    .title {
        text-decoration: none;
        text-align:left;
        h3 {
            margin-bottom:0;
            text-align: left;
            text-transform: uppercase;
            font-weight: normal;
            font-size:16px;
        }
        p {
            margin-top:0;
            text-align: left;  
        }
        .price {
            text-transform: uppercase;
            font-size:20px;
            margin-bottom:8px;
        }
    }
    .swatches {
        a {
            margin:0 4px 0 0;
        }
        img {
            width:22px;
            height:22px;
        }
        text-align:left;
    }
}
